################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Toolkit/.vs/Toolkit/v14/.suo
